.islands {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(4,125px);
  width: 1500px;
  height: 500px;
  border: 2px solid black;
  background-color: white;
  transition: all 1s;
  margin: auto;
}

h1 {
  grid-column: 2;
  grid-row: 1;
  font-size: 40px;
  white-space: pre;
  z-index: 1;
}

.palma {
  clip-path: polygon(4% 21%, 10% 16%, 17% 11%, 24% 9%, 31% 14%, 40% 14%, 45% 11%, 50% 7%, 54% 13%, 57% 18%, 60% 24%, 64% 29%, 61% 35%, 53% 38%, 52% 44%, 55% 50%, 57% 55%, 57% 61%, 56% 68%, 54% 77%, 50% 85%, 46% 93%, 41% 99%, 35% 99%, 26% 91%, 21% 85%, 17% 74%, 15% 63%, 14% 52%, 13% 43%, 8% 32%);
  background-color: black;
  width: 50px;
  height: 50px;
  grid-row: 2;
  grid-column: 2;
  transition: all 3s;
}

.gomera {
  width: 50px;
  height: 50px;
  grid-row: 3;
  grid-column: 3;
  clip-path: polygon(40% 17%, 69% 25%, 91% 36%, 99% 69%, 81% 85%, 48% 95%, 19% 86%, 2% 65%, 3% 38%, 10% 24%);    
  background-color: black;
  transition: all 3s;
}

.hierro {
  width: 50px;
  height: 50px;
  clip-path: polygon(82% 25%,82% 25%, 73% 29%, 73% 29%, 67% 36%, 67% 36%, 61% 47%, 61% 47%, 51% 54%, 51% 54%, 34% 51%, 34% 54%, 23% 44%, 23% 44%, 13% 34%, 13% 34%, 7% 44%, 7% 44%, 10% 49%, 10% 49%, 9% 59%, 9% 59%, 9% 67%, 9% 67%, 13% 72%, 13% 75%, 25% 75%, 25% 75%, 34% 82%, 34% 82%, 42% 86%, 42% 86%, 48% 93%, 48% 93%, 52% 96%, 52% 96%, 57% 97%, 57% 97%, 62% 92%, 62% 92%, 65% 80%, 65% 80%, 66% 73%, 66% 73%, 73% 64%, 73% 64%, 83% 54%, 83% 54%, 88% 45%, 88% 45%, 87% 36%, 87% 39%); 
  grid-row: 3; 
  grid-column: 1;
  background-color: black; 
  border: 10px solid black;
  transition: all 3s;
  margin: auto;
}

.tenerife {
  clip-path: polygon(98% 11%, 87% 9%, 79% 10%, 71% 14%, 61% 19%, 56% 26%, 51% 34%, 45% 37%, 34% 38%, 24% 40%, 16% 41%, 6% 42%, 0% 48%, 4% 56%, 8% 63%, 12% 69%, 18% 77%, 22% 83%, 26% 88%, 32% 93%, 39% 98%, 43% 99%, 51% 98%, 63% 91%, 66% 83%, 72% 71%, 74% 59%, 73% 46%, 81% 35%, 89% 30%, 96% 22%, 98% 16%);
  background-color: black;
  width: 50px;
  height: 50px;
  grid-row: 2;
  grid-column: 4;
  transition: all 3s;
}

.canaria {
  clip-path: polygon(50% 96%, 50% 96%, 35% 89%, 35% 89%, 21% 85%, 21% 85%, 12% 79%, 12% 79%, 4% 67%, 4% 67%, 4% 56%, 4% 56%, 10% 44%, 10% 44%, 10% 33%, 10% 33%, 23% 24%, 23% 24%, 26% 16%, 26% 16%, 24% 9%, 24% 9%, 35% 8%, 35% 8%, 41% 13%, 41% 16%, 52% 17%, 52% 17%, 64% 17%, 64% 17%, 73% 15%, 73% 15%, 78% 21%, 78% 21%, 80% 28%, 80% 28%, 89% 39%, 89% 39%, 90% 51%, 90% 51%, 90% 61%, 90% 61%, 84% 67%, 84% 67%, 82% 78%, 82% 78%, 75% 87%, 75% 87%, 65% 92%, 65% 92%);
  background-color: black;
  width: 50px;
  height: 50px;
  grid-column: 5;
  grid-row: 3;
  transition: all 3s;
}

.fuerteventura {
  clip-path: polygon(6% 80%, 16% 86%, 20% 90%, 26% 95%, 34% 95%, 47% 89%, 54% 83%, 64% 77%, 70% 73%, 77% 71%, 86% 67%, 92% 60%, 95% 47%, 97% 36%, 98% 26%, 95% 16%, 96% 7%, 90% 2%, 76% 2%, 68% 4%, 61% 15%, 61% 24%, 59% 36%, 57% 44%, 53% 57%, 53% 65%, 51% 71%, 43% 75%, 34% 79%, 27% 81%, 18% 78%);
  background-color: black;
  width: 50px;
  height: 50px;
  grid-column: 7;
  grid-row: 2;
  transition: all 3s;
}

.lanzarote {
  clip-path: polygon(81% 3%, 76% 10%, 75% 19%, 66% 30%, 52% 30%, 43% 34%, 35% 39%, 26% 43%, 14% 51%, 15% 58%, 16% 70%, 14% 77%, 10% 83%, 6% 89%, 9% 95%, 17% 94%, 22% 91%, 31% 91%, 35% 96%, 42% 94%, 42% 85%, 44% 75%, 52% 70%, 63% 68%, 71% 68%, 86% 61%, 91% 55%, 95% 45%, 96% 36%, 95% 26%, 90% 19%, 95% 10%, 91% 3%);
  background-color: black;
  width: 50px;
  height: 50px;
  grid-column: 6;
  grid-row: 3;
  transition: all 3s;
}

.palma:hover,
.hierro:hover,
.gomera:hover,
.tenerife:hover,
.canaria:hover,
.fuerteventura:hover,
.lanzarote:hover {
  background-color: blue;
}

.playas {
  width: 50px;
  height: 50px;
  grid-column: 7;
  margin: auto;
  padding: 100px;
  white-space: pre;
}
